

* {
    font-family: 'Roboto Condensed', sans-serif;    
}

.container-fluid {
    max-width: 1200px;    
}

.card {
    background: #fff;
    border: 0;
    border-radius: 1rem;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;    
    border: 5px double rgb(120, 1, 203, 0.5);
}

.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    transition: 0.3s
}

.card-img-top:hover{
    transform: scale(1.25);
    transition: 0.3s
}

.card h2{
    overflow: hidden;
    height: 48px;    
    font-size: 1.2rem
}

.card h5 {
    overflow: hidden;
    height: 56px;    
    font-size: 1rem
}

.card-img-top {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    padding: 30px
}

.row{
    background: linear-gradient(180deg, rgba(225,42,50,0.5) 0%, rgba(255,255,255,1) 100%);
}


@media (max-width: 768px) {
    .card-img-top {
        max-height: 250px
    }
}

.btn {    
    text-transform: uppercase;
}

@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px
    }
}

@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px
    }
}

.button{
    border: 1px solid rgb(0, 0, 0, 0.35);
}

.button:hover{
    transition: 0.5s;
    box-shadow: -2px -2px 20px 5px rgb(120, 1, 203, 0.5),
    2px 2px 20px 5px rgb(227, 45, 58, 0.5);
}


@media (max-width: 370px) {
    .btn {
        padding: 5px 40px 5px 40px;
        font-size: 1rem
    }
}
